aliyun-python-sdk-core==2.13.25
aliyun-python-sdk-ocr==1.0.8
Flask==1.1.2
imutils==0.5.3
json5==0.9.5
Keras==2.4.3
Keras-Preprocessing==1.1.2
matplotlib==3.3.0
numpy==1.18.5
opencv-python==4.4.0.40
oss2==2.12.1
Pillow==7.0.0
sklearn==0.0
trdg==1.6.0
